
  <% if flash[:success]%>
    <div class="alert alert-success">
      <button type='button' class='close' data-dismiss='alert'>&times;</button>
     <strong> Your Message has been sent !</strong>
    </div>
  
  <%elsif flash[:error]%>  
    <div class="alert alert-error">
      <button type='button' class='close' data-dismiss='alert'>&times;</button>
      <strong> Somthing went wrong, Try again</strong>
    </div>
  <%end%> 

    <div class="col-md-8">
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1200.522938217267!2d-2.341189113977842!3d53.001559472614744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a60c840aef641%3A0x44d948cfea6b20d6!2sThe+Raj!5e0!3m2!1sen!2suk!4v1521815128158"
        frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      
      
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="map-info-contact">
        
          <p class="mbr-text align-left mbr-fonts-style display-7">
            <strong>Address :</strong>
            <br>05 Poolside,Madeley,<br>
            CW3 9DX
            <br>
            <br>
            
            <strong>
              Phone:
            </strong>
            <br> 01782 752 000 <br>
            <br>
            
            <strong>
              Open :
            </strong>
            <br> 5.00 pm to 10.30 pm <br><br>
            Closed Tuesdays
            <br><br>
            <strong>Open Bank Holidays</strong>
            
            
              
            
          </p>
        </div>
      </div>
      
    </div>
    <!--<div class="col-md-6">-->
    <!--  <%#= form_for @page   do |f| %>-->
    <!--    <div class="row">-->
    <!--      <div class="col-md-12  ">-->
    <!--        <div class="forma-in-feilds">-->
    <!--          <%#=f.text_field :name, class:'form-control', required: true, :placeholder => "Your name..."  %>  -->
    <!--        </div>-->
            
    <!--      </div>-->
          
    <!--      <div class="col-md-12 ">-->
    <!--        <div class="forma-in-feilds">-->
    <!--           <%#=f.text_field :email, class:'form-control', required: true, :placeholder => "Your email..."  %> -->
    <!--        </div>-->
            
    <!--      </div>-->
          
    <!--      <div class="col-md-12 ">-->
    <!--        <div class="forma-in-feilds">-->
    <!--          <%#=f.text_area :message, class:'form-control', rows: 11 ,required: true, :placeholder => "Please type you message here..."  %> -->
    <!--        </div>-->
             
    <!--      </div>-->
          
    <!--      <div class="col-md-12 ">-->
    <!--        <div class="d-none">-->
    <!--          <%#=f.label :nickname%>-->
    <!--          <%#=f.text_field :nickname, hint: ' leave it blank', class:'form-control'%> -->
    <!--        </div>-->
             
    <!--      </div>-->
          
    <!--      <div class="col-md-12 input-group-btn ">-->
    <!--        <div class="forma-in-feilds">-->
    <!--          <%#= f.submit 'SEND MESSAGE' , class:'btn btn-primary btn-form display-4'%>-->
    <!--        </div>-->
             
    <!--      </div>-->
    <!--    </div>-->
    <!--  <%#end%>-->
    <!--</div>-->

     
     
     
     
     
     
     
     
     
     
     
     
      


        



