<div class="form-load-notice-wrapper" id= "form-load-notice-wrapper">
  <div class="form-load-notice-wrapper-itms">
    <div class="from-load-notice-notice-wrap">
      <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="form-load-notice-wrapper-header text-center"><h3 class="form-load-wrapper-heading">We are open throughout the holiday</h3></div>
    <ul class="form-load-notice-wrapper-ul text-center">
      <li class="form-load-wrapper-li"><h6 class="wrapper-li-txt">Christmas Eve (24th Dec 2018)</h6> </li>
      <li class="form-load-wrapper-li"><h6 class="wrapper-li-txt">Boxing Day (26th Dec 2018)</h6></li>
      <li class="form-load-wrapper-li"><h6 class="wrapper-li-txt">New Years Eve (31st Dec 2018)</h6> </li>
      <li class="form-load-wrapper-li"><h6 class="wrapper-li-txt">New Years Day (1st Jan 2019)</h6></li>
    </ul>
    <div class="notice-wrapper-header text-center"><h3 class="form-load-wrapper-heading">We are closed on Christmas Day</h3></div>
    </div>  
  </div>
</div>

<script>
  function closeModal() {
  document.getElementById('form-load-notice-wrapper').style.display = "none";
}
</script>