<div class="container">
  <div class="row text-lg-left">
    <div class="slug-items">
      <div class="slug-figure">
        <div class="col">
          <div class="slug-item-image">
           <%=image_tag @currydish.image.url(:medium), alt: @currydish.title ,class: "img-fluid slug-main-img"%>
          </div>
          <div class="sulg-item-description">
            <%= @currydish.desc%>
          </div>
        </div>
        <div class="col">
          <div class="all-options-items-slug">
            <div class="table-responsive">
              <table class="table">
               <tbody>
                 <% @currydish.currynames.each do |curryname| %>
                   <tr>
                     <td>
                       <h6 class="curry-name-texts text-left"><strong><%=curryname.name%></strong></h6>
                       <h5 class ="curry-name-price text-right"><%=pounds(curryname.amt)%></h5>
                     </td>
                   </tr>
                 <%end%>
               </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






