<!--// Test for ajax success-->
<!--console.log("This is the create.js.erb file");-->
<!--// Render flash message-->
<!--$('#contact-form').html("<%#= j render 'new' %>");-->
<!--$('#flash-message').html("<%#= j render 'flash' %>").delay(3000).fadeOut(4000);-->