
<section id='starter'>
  <div class="container">
    <div class="section-header">
      <h3 class='itm-start text-center'> Starters </h3>
      <div class="header-ruler">
        <hr class="header-ruler-underline-black">
      </div>
    </div>   
      <div class="row text-center text-lg-left">
        <%@starters.each do |starter|%>
          <div class="col-lg-4 col-md-4 col-xs-6" id="cols ">
            <div class="figure-title">
                <h3 class='itm_title text-center'><%=starter.title%></h3>
            </div>
            <div class="item-figure">
              <div class="item-figure-img img-fluid d-block mb-4 h-100">
               <div class="tag">
                <%=image_tag("tag.png", class: "tag-img", :width => "100px" ) %>
                
              </div>
               <h3 class="tag-price"><%=pounds(starter.amt)%></h3>
               <%=image_tag starter.image.url(:medium),class: 'starter_img item-img '%>
             </div>
            </div>
          </div>
        <%end%>
      </div>  
  </div>
</section>

<section id='sidedish'>
  <div class="container ">
    <div class="section-header">
      <h3 class='itm text-center'> Side Dishes </h3>
      <div class="header-ruler">
        <hr class="header-ruler-underline-black">
      </div>
    </div>  
      <div class="row text-center text-lg-left">
        <div class=" side-main-col col-md-6 ">
          <div class="side-main img-fluid">
            <%=image_tag("sidedish-main.png", class: "sidmain-img img-fluid" ) %>
            <div class="title-explain">
              <h3 class='itm-price-desc text-center'> Each Side Dish  </h3> <h3 class= "all-pounds-price"><%=pounds(@sidedishes.first.try(:amt))%> </h3>
            </div>
          </div>
        </div>
        <div class="col col-md-6 side-col-items">
          <%@sidedishes.each do |sd|%>
           <div class="side-figures">
             <div class="side-titles">
               <h4 class ="side-title-text text-left"><%=sd.title%></h4>
             </div>
             <div class="side-amt-price">
               <h4 class="side-amt sd-title text-right"><%=image_tag sd.image.url(:medium),class: 'sidedishes_img item-img-sd rounded-circle'%></h4>
             </div>
           </div>
          <%end%>
        </div>
      </div>  
  </div>
</section>

<section id='curries'>
  <div class="container">
    <div class="section-header">
      <h3 class='itm text-center'> Curry Dishes </h3>
      <div class="header-ruler">
        <hr class="header-ruler-underline-black">
      </div>
    </div>
    <div class="row text-center text-lg-left">
      <%@currydishes.each do |curry|%>
        <div class="col-lg-4 col-md-4 col-xs-6" id="cols ">
          <div class="curry-figure">
            <div class="figure-title-curry">
              <h3 class='itm_title text-center'><%=curry.title%></h3>
            </div>
          </div>
          <div class="curry-images">
            <%=link_to page_path(curry.slug),:remote => true, data: { target: '#myModal', toggle: 'modal' } do  %>
               <%=image_tag(curry.image, class: "curry-image" )%>
               <div class="div-show-options ">
                 <h3 class = "text-center option-text"> VIEW OPTIONS ></h3>
               </div>
             <%end%>
          </div>    
        </div>
      <%end%>
      <!--<div class="show-modal-slug">-->
        <%= render "layouts/modal" %>
      <!--</div>-->
    </div>
  </div>
</section>

<section id="chefs">
  <div class="container">
    <div class="section-header">
      <h3 class='itm text-center'> Chef's Specials </h3>
      <div class="header-ruler">
        <hr class="header-ruler-underline-white">
      </div>
    </div>  
      <div class="row ">
        <%@chefspecials.each do |chef|%>
          <div class="chef-figures">
            <div class="chef-items">
              <div class="chef-title">
                <h3 class="chef-title-text" ><span><%=chef.title%></span></h3>
              </div>
              <div class="chef-desc">
                <h6 class="chef-desc-text" ><%=chef.desc%></h6>
              </div>
              <div class="chef-price">
                <h4 class="chef-price-text" ><span><%=pounds(chef.amt)%></span></h4>
              </div>
            </div>
          </div>
        <%end%>
      </div>  
  </div>
</section>

<section id='biriyani'>
  <div class="container">
    <div class="section-header">
      <h3 class='itm text-center'> Biryani </h3>
      <div class="header-ruler">
        <hr class="header-ruler-underline-white">
      </div>
    </div>  
      <div class="bir-explain">
        <h4 class = "text-center bir-explain-text">Made with special flavored basmati rice together with mixure of spices, sultanas & almonds. <br> Served with seprate vegitable curry sauce.</h4>
        <div class="sp-bi-notice">
          <h6 class= "notice-text text-center"> * Special biryani comes with Chicken, Meat, praw & Mushroom</h6>
        </div>
      </div>
        <div class="row text-center text-lg-left">
          <%@biriyanis.each do |biriyani|%>
            <div class="col-lg-3 col-md-3 col-xs-6" id="cols ">
              <div class="bir-figures">
              <div class="bir-figure-title">
                  <h4 class='itm_title text-center'><%=biriyani.title%></h4>
              </div>
              <div class="item-figure">
                <div class="item-figure-img img-fluid d-block mb-4 h-100">
                 <div class="tag text-right">
                  <%#=image_tag("tag.png", class: "tag-img" ) %>
                  
                </div>
                 <%=image_tag biriyani.image.url(:medium),class: 'bir-img item-img '%>
               </div>
               <div class="bir-price">
                 <h4 class"bir-price-text text-center" > <%=pounds(biriyani.amt)%></h4>
               </div>
              </div>
              </div>
            </div>
          <%end%>
        </div>  
  </div>
</section>

<section id='fish'>
  <div class="container ">
    <div class="section-header">
      <h3 class='itm text-center'> Fish Dishes </h3>
      <div class="header-ruler">
        <hr class="header-ruler-underline-black">
      </div>
    </div>  
      <div class="row text-center text-lg-left">
        <div class=" fish-main-col col-md-6 ">
          <div class="side-main img-fluid">
            <%=image_tag("fish-poster.png", class: "fish-img img-fluid" ) %>
            <div class="title-fish-explain">
            <!--  <h3 class='itm-fish-price-desc text-center'>Fish  </h3><h3 class= "all-pounds"> £</h3> <h3 class= "all-pounds-price"> 2.50 </h3>-->
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <%@fishdishes.each do |f|%>
           <div class="fish-figures">
             <div class="fish-titles">
               <h4 class ="fish-title-text text-left"><%=f.title%></h4>
             </div>
             <div class="fish-amt-price">
               <h4 class="fish-amt text-right"><%=pounds(f.amt)%></h4>
             </div>
           </div>
          <%end%>
        </div>
      </div>  
  </div>
</section>


<section id="rice">
  <div class="container">
    <div class="section-header">
      <h3 class='itm text-center'> Rice Dishes </h3>
      <div class="header-ruler">
        <hr class="header-ruler-underline-white">
      </div>
    </div>  
      <div class="row ">
        <%@ricedishes.each do |rice|%>
          <div class="rice-figures">
            <div class="rice-items">
              <div class="rice-title">
                <h5 class="rice-title-text" ><span><%=rice.title%></span></h5>
              </div>
              
              <div class="rice-price">
                <h4 class="rice-price-text" ><span><%=pounds(rice.amt)%></span></h4>
              </div>
            </div>
          </div>
        <%end%>
      </div>  
  </div>
</section>


<section id="sundry">
  <div class="container">
    <div class="section-header">
      <h3 class='itm text-center'> Sundries </h3>
      <div class="header-ruler">
        <hr class="header-ruler-underline-white">
      </div>
    </div>  
        <div class="row ">
          <%@sundries.each do |su|%>
            <div class="col-lg-6 col-md-6 col-xs-6">
              <div class="sundry-figures">
                <div class="sundry-items">
                  <div class="sundry-title">
                    <h5 class="sundry-title-text" ><span><%=su.title%></span></h5>
                  </div>
                  <div class="sundry-price">
                    <h4 class="sundry-price-text" ><span><%=pounds(su.amt)%></span></h4>
                  </div>
                </div>
              </div>
            </div>
        <%end%>
      </div>  
    
  </div>
</section>

<section id="small">
  <div class="container">
    <div class="section-header">
      <h3 class='itm text-center'> Small Dishes </h3>
      <div class="header-ruler">
        <hr class="header-ruler-underline-black">
      </div>
    </div>  
        <div class="row ">
          <%#=render "layouts/small_dishes"%>
          <%@smalldishes.each do |sm|%>
            <div class="small-figures">
              <div class="small-items">
                <div class="small-title">
                  <h5 class="small-title-text text-left" ><span><%=sm.dish_type%></span></h5>
                  <div class="small-price">
                    <h4 class="small-price-text" ><span><%=pounds(sm.amt)%></span></h4>
                  </div>
                </div>
                <div class="small-desc">
                  <h6 class="small-desc-text" ><%=sm.dish_name%></h6>
                </div>
                
              </div>
            </div>
          <%end%>
        </div>  
    </div>
  </div>
</section>


<section id='contact'>
  <div class="container">
    <div class="section-header">
      <h3 class='itm text-center'> Contact Us </h3>
      <div class="header-ruler">
        <hr class="header-ruler-underline-white">
      </div>
    </div>  
      <div class="row " id="contact-form">
        <%=render 'new'%>
      </div>  
  </div>
</section>

  
