.logo-text{
    margin-top: 10px;
}

#starter{
    background: #d0d0d057;
}
#sidedish{
    // background: orange;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to bottom, #6b8a96, #6b8a96 50%, green 50%, green);
    
}
#curries{
    background: #e6e6e6;
}
#biriyani{
    background: lightblue;
}

#chefs{
    background: #bfb3b3;
}
#sundry{
    background: #40bf80;
}
#rice{
    background: #b98c8c;
}

#contact{
    background-color: rgb(204, 204, 204);
}
#footer{
    background: #397896; 
    height: 10px !important;
}
hr.header-ruler-underline-white{
    // padding-bottom: 0;
    // margin-bottom: 0;
    border-color: white;
    width: 50px;
}
.header-ruler-underline-black{
     border-color: black;
    width: 50px;
}

.section-header{
    padding-bottom: 50px;
}
.itm-start{
    padding-top : 50px;
}
.item-img{
    width: 100%;
    
}

.starter_img{
    border-radius: 2px;
    border: 1px solid gray;
}

.tag    {
 position : absolute;
 right: 14px;
 color: white;
//top: 152px;
 
 
}
.tag-price{
 position : absolute;
 right: 24px;
 color: white;
 top : 120px;
}


.sidmain-img{
    width: 570px;
    padding-top: 50px;
}

.sidedishes_img{
    width: 50px;
    margin-left: 50px;
    
}

.sidedishes
.item-figure{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
.figure-title {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 30px;
    background: white;
    
    
}

.figure-title-curry{
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 30px;
}
.itm_title{
    
    padding-top: 10px;
    text-transform: uppercase !important;
    // font-family : NiconneRegular;
    font-style: bold ;
    font-weight: 100;
    font-size: 12px;
    
}

.title-explain{
    padding-top: 50px;
  margin-left: 50px;
  color: white;
}
.itm-price-desc{
    float: left;
    padding-top: 18px;
    font-family : Khand;
    font-size: 80px;
    font-style: bold ;
    
}
.all-pounds{
    float: left;
    padding-left: 25px;
    padding-right: 10px;
    margin-left: 50%;
    position: relative;
}

.all-pounds-price{
    font-family : Khand;
    font-size: 130px;
    font-style: bold ;
    float: right;
}

.sd-title{
    font-family: 'Khand', sans-serif;
    // font-style: italic ;
}





.side-figures{
    padding-top: 30px;
}
.side-col-items{
    padding-top: 50px;
}
.side-titles{
    font-family: 'Khand', sans-serif;
    color: white;
}
.side-amt-price{
    margin-top: -45px;
    font-family: 'Khand', sans-serif;
    // font-size:;
}

// .item-img-sd{
//     width: 10px;
// }











// .list-unstyled-side{
//     padding-top: 10px;
// }


.curry-image{
    width: 100%;
    overflow: hidden;
    z-index: 1;
    
}
// view options tabs

    
      .div-show-options{
        text-align: center;
        border: 2px solid black;
        color: black;
        margin-top: -80px;
        position: absolute;
        left: 30%;
        background: rgba(241,231,103,1);
        background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
        background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
        background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
        background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
        background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
       
    }
    
    
    

.option-text{
    padding: 15px 20px ;
    
    font-family: 'arial', sans-serif;
     font-size: 16px;
    // font-style: bold ;
}
.slug-item-image{
    width: 100%;
}
.slug-main-img{
    width: 20%;
}

.chef-row{
    width: 100%;
    border: 1px solid gray;
    background: white;
    margin-bottom: 20px;
    padding: 20px;
}

.chef-figures{
    border-bottom: 1px solid gray;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
    
}

.chef-items{
    padding: 10px;
    
}
.chef-title{
    font-family: 'Khand', sans-serif;
}
.chef-desc-text{
    // font-family: 'Niconne', cursive;
    font-family: 'Courgette', cursive;
}
.chef-price{
    float: right;
    margin-top: -15px;
    font-family: 'Khand', sans-serif;
}

.bir-figures{
    
    padding-top: 20px;
    margin-bottom: 55px;
}


.bir-explain{
    padding-bottom: 50px;
    font-family : Khand;
    color: #F16136;
    font-weight: 500;
}

.bir-price{
    margin-top: -15px;
    position: relative;
    text-align: center;
    
}
.fish-figures{
    padding-top: 50px;
}
.fish-titles{
    font-family: 'Khand', sans-serif;
}
.fish-amt-price{
    margin-top: -35px;
    font-family: 'Khand', sans-serif;
}
.notice-text{
    color: black;
    // font-family: 'Niconne', cursive;
    font-family: 'Courgette', cursive;
}



.rice-figures{
    border-bottom: 1px solid gray;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
    
}
.rice-items{
    padding: 10px;
    
}
.rice-price{
    float: right;
    margin-top: -15px;
    font-family: 'Khand', sans-serif;
}

.rice-title{
   font-family: 'Khand', sans-serif;
}
.rice-price-text{
    margin-top: -20px;
}



.sundry-items{
    padding: 10px;
    
}
.sundry-price{
    float: right;
    margin-top: -15px;
    font-family: 'Khand', sans-serif;
}

.sundry-title{
   font-family: 'Khand', sans-serif;
}
.sundry-price-text{
    margin-top: -20px;
}


.small-row{
    width: 100%;
    border: 1px solid gray;
    background: white;
    margin-bottom: 20px;
    padding: 20px;
}

.small-figures{
    border-bottom: 1px solid gray;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
    
}

.small-items{
    padding: 10px;
    
}
.small-title{
    font-family: 'Khand', sans-serif;
    
}
.small-desc{
    padding-top: 10px;
}
.small-desc-text{
    // font-family: 'Niconne', cursive;
    font-family: 'Courgette', cursive;
}
.small-price{
    
    float: right;
    margin-top: -35px;
    font-family: 'Khand', sans-serif;
}


#page_name{
    width: 100%;
}

.multi-horizontal{
    width: 100%;
}

.map{
    height: 25rem;
    position: relative;
    padding-bottom: 10px;
}

//footer
.map iframe{
    height: 100%;
    width: 100%;
}


.forma-in-feilds{
    padding-bottom: 18px;
}

#page_message{
    
    resize: none;
}
.input-group-btn{
    display: block;
    text-align: center;
    vertical-align: middle;
}

.btn{
    font-weight: 500;
    border-width: 2px;
    font-style: normal;
    letter-spacing: 1px;
    margin: .4rem .8rem;
    white-space: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 1rem 3rem;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
}
.display-4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}
.btn-primary, .btn-primary:active {
    background-color: #149dcc;
    border-color: #149dcc;
    color: #ffffff;
}

.btn-form {
    border-radius: 0;
}

.info-bar{
   background: #dae0e5;
   position: fixed;
   top: 67px;
   width: 100%;
   z-index: 1000;
   border-bottom: 1px solid gray;
   color: black;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   overflow: hidden;
   
}
.icon-left-info{
    float: left;
}
.icon-right-del{
    float: right;
}
.info-text{
    padding-top: 5px;
    padding-bottom: 5px;
}
.info-icon{
    float: left;
    padding-top: 10px;
}
.pop-text{
    margin-top: 5px;
    padding-left: 20px;
}
.phone-icon{
    float: left;
    margin-top: 7px;
    padding-top: 10px;
}
.del-text{
    margin-top: 10px;
    padding-left: 20px;
    float: right
}


.pay-icon{
    font-size: 50px;
    color: gray;
}
.pay-info, .refuse{
    padding-top: 20px;
    text-align: center;
}


.terms-btn{
    color: none;
    border: none;
}

.company{
    float: left;
    color: white;
}

.who{
    float: right;
    color: white;
}
.who a{
    color: white;
}

.search-option-box{
    display: none;
}














// breakpoints

.pop-mob-text{
    display: none;
}



@include media-breakpoint-only(xs) {
    .pop-mob-text{
    margin-top: 5px;
    display: block;
}
    
    .pop-text{
        display: none;
       
    }
    .info-icon{
        display: none;
    }
    .map iframe{
    height: 100%;
    width: 100%;
}
.phone-icon{
    display: none;
}
.search-option-box{
    display: block;
}
.div-show-options{
   left: 26% ;
}
.itm_title{
    
    padding-top: 10px;
    text-transform: uppercase !important;
    font-family : NiconneRegular;
    font-style: italic ;
    font-weight: 100;
    font-size: 20px;
    
}

.tag-price{
 position : absolute;
 right: 24px;
 color: white;
 top : 130px;
}

.side-amt-price{
    margin-top: -45px;
    font-family: 'Khand', sans-serif;
    font-size: 14px;
}

    .company{
        // float: left;
        color: white;
        text-align: center;
        width: 100%;
    }
    
    .who{
        // float: right;
        color: white;
        text-align: center;
        width: 100%;
    }
}





@include media-breakpoint-only(sm) {
    
    .side-amt-price{
    margin-top: -45px;
    font-family: 'Khand', sans-serif;
    font-size: 14px;
}

.company{
        // float: left;
        color: white;
        text-align: center;
        width: 100%;
    }
    
    .who{
        // float: right;
        color: white;
        text-align: center;
        width: 100%;
    }
    .map-info-contact{
        text-align: center;
    }
}




@include media-breakpoint-only(md) {

.div-show-options{
   left: 20% ;
}
}

.icon-mid-info    {
    margin-top: 120px;
    background: #dae0e5;
    position: fixed;
    color: black;
    z-index: 1000;
    padding: 5px;
    border: black solid 1px;
}



.form-load-notice-wrapper{
    position: fixed; 
    display: block; 
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); 
    z-index: 200000;
    
    
}

.form-load-notice-wrapper-itms{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    max-width: 100%;
    background: white;
    border: 1px solid gray;
}


.from-load-notice-notice-wrap{
    padding: 15px;
}

.form-load-notice-wrapper-header{
 margin-top: 10px;   
}
.form-load-notice-wrapper-ul {
    list-style : none;
    padding-left: 0;
}

.form-load-wrapper-li{
    margin-left: 0;
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 3px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}



