<section id ="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 company-year-rights">
        <div class="company">
          <h5 > The Raj Takeaway &copy; <script>document.write(new Date().getFullYear())</script></h5>
          <script type="text/javascript" src="//counter.websiteout.net/js/36/15/0/0">
          </script>
        </div>
      </div>
      <div class="col-md-6 designer">
        <div class="who">
          Powered by  |  <a target="_blank" href="https://www.1611way.com">1611</a>
        </div>
      </div>
    </div>
  </div>
</section>


