<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><h5 class="logo-text">RAJ TAKE-AWAY</h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#starter">Starters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#sidedish">Side Dishes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#curries">Curries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#chefs">Chef's Special</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#biriyani">Biriyanis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#fish">Fish Dishes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#rice">Rice Dishes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#sundry">Sundires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#small">Small Dishes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="info-bar">
  <div class="container">
    
    <div class="icon-left-info">
      
      <div class="info-text ">
        <i class="fa fa-info-circle info-icon" aria-hidden="true"></i>
        <h6 class="pop-text text-left ">Free popdoms with every main meal & Free delivery with in 3 miles</h6> 
        
        <h6 class="pop-mob-text text-left "> Additional items 50p &nbsp; </h6> 
      </div>
    </div>
    
    <div class="icon-right-del">
      <i class="fa fa-phone phone-icon" aria-hidden="true"></i>
        <h6 class="del-text text-right">01782 752 000</h6>
    </div> 
    
  </div>
    
</div>

<div class="icon-mid-info">
      <h6 class ="pop-text-info-additional text-center">Orders over 3 miles incur a £ 1 charge</h6>
</div>




