<!DOCTYPE html>
<html>
  <head>
    <title>Raj Takeaway - Madeley</title>
    <%= display_meta_tags description: "Authentic Indian & Bangladesh Cuisine", keywords: "authentic indian food, raj indian takeaway menu,indian, takeaway, free, delivery, madeley, curry, tikka, massala,mosslla, nan, naan, chips, popadoms, stoke-on-trent, keele, university, raj,side, dishes,fish, methi, saag,aloo,cheap indian food delivery,fast food delivery,food delivery,indian cuisine near me,indian food home delivery near me"  %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="OM0k34GbEF_6bFbfDxGGNcD0yRhpJPZYLYingecPG_I" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116818550-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116818550-1');
</script>

  </head>
  
  <body id="page-top">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <%=render "layouts/nav"%>
      
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%#=render 'pages/notice'%> <!--xmas/holiday-alerts-->
      
      <%= yield %>
      <script src="assets/jquery.easing.min.js"></script>
      <script src="assets/scrolling-nav.js"></script>
      
      <%=render "layouts/foot"%>
      
  </body>
</html>
